
.my-appointments {
    margin: 30px auto;
    max-width: 1100px;
}

.my-appointments h1 {
    font-weight: 400;
    font-size: 22px;
}

.appoint-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.appointed-doctor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    border-radius: 18px;
    border: none;
    box-shadow: 1px 1px 2px 2px rgb(204, 201, 201);
}

.doct-info {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.doctor-img {
    background-color: #EAEFFF;
    border-radius: 18px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.inside-appointments {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.inside-appointments h2 {
    font-size: 24px;
    font-weight: 400;
}

.inside-appointments p {
    font-size: 14px;
}

.inside-appointments .address {
    color: rgb(4, 64, 99);
}

.appointment-btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

/* Buttons Styling */
.btn1,
.btn2,
.btn3 {
    width: 150px;
    height: 40px;
    font-size: 13px;
    padding: 8px;
    cursor: pointer;
    color: rgb(143, 138, 138);
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgb(216, 213, 213);
}

.btn1 {
    background-color: #5F6FFF;
    color: #fff;
}

.btn2:hover,
.btn2:active {
    color: white;
    border: none;
    background-color: rgb(201, 13, 13);
}

.btn3 {
    color: red;
    border: 1px solid red;
}

.pay-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pay-btns button {
    width: 142px;
    height: 36px;
    border-radius: 4px;
    background-color: #fff;
    border: 0.3px solid rgb(216, 213, 213);
}

.pay-btns img {
    height: 18px;
    padding: 2px;
}

.no-appoint {
    margin-top: 30px;
    text-align: center;
}

.no-appoint button {
    margin-top: 16px;
    height: 36px;
    color: rgb(12, 75, 248);
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #5F6FFF;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .appointed-doctor {
        padding: 15px;
    }
    .inside-appointments h2 {
        font-size: 20px;
    }
     
    .doct-info {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .doctor-img {
        width: 180px;
        height: 180px;
    }

    .appointment-btns {
        flex-direction: row;
        justify-content: center;
    }
    .btn2{
        font-size:10px;
    }
}

@media (max-width: 768px) {
    .my-appointments h1 {
        font-size: 20px;
    }
    .appointed-doctor {
        flex-direction: column;
        text-align: center;
        padding: 12px;
        gap: 10px;
    }

    .doct-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .doctor-img {
        width: 200px;
        height: 200px;
    }

    .appointment-btns {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .my-appointments h1 {
        font-size: 18px;
    }
    .appointed-doctor {
        padding: 6px;
    }

    .doctor-img {
        width: 160px;
        height: 160px;
    }

    .inside-appointments h2 {
        font-size: 18px;
    }

    .inside-appointments p {
        font-size: 13px;
    }

    .btn1,
    .btn2 {
        font-size: 10px;
        height: 36px;
        max-width: 140px;
    }

    .pay-btns button {
        width: 130px;
        height: 34px;
    }

    .pay-btns img {
        height: 16px;
    }
}
