/* doctors */
/* .doctors{
    margin: 30px auto;
    display: flex;
    width:80%;
    justify-content: space-around;
    gap:24px;
    flex-wrap: wrap;
} */
.doctor{
    width:22.33%;
    cursor: pointer;
    /* width:300px; */
    /* gap:8px; */
    border: 1px solid rgb(194, 238, 236);
    border-radius: 12px;
}
.doctor img{
    border-radius: 12px 12px 0px 0px;
    background-color: #EAEFFF;
}
.divpara{
   font-size: 13.5px;
}
.divpara h3{
    font-size: 17px;
    font-weight:500;
}
.available{
    color:rgba(9, 189, 9, 0.733);
}
/* green available */
.green-dot{
    background-color:rgba(34, 145, 34, 0.877);
    border-radius:50%;
    width:6px;
    height: 6px;
}