.doct-img{
    background-color: #5F6FFF;
    border-radius: 12px;
}
.doctinfo{
    border-radius: 12px;
    border:1px solid gray;
    padding:30px;
}
.one h1{
    font-weight: 400;
}
.two button{
   border-radius: 12px;
   border: none;
   background-color:antiquewhite;
   font-size: 12px;
   width: 60px;
   height: 28px;
   padding: 2px;
}
.two{
    gap:15px;
    color: #4B5563;
}
.tree h4{
    font-weight: 500;
}
.tree p{
    font-size: 15px;
    color: #4B5563;
}
.app-fee{
    color: #4B5563;
}
.app-fee span{
    color: #5F6FFF;
}
.booking-slots{
    margin-left: 30%;
}
.slot{
    font-size: 16px;
    color:#4B5563 ;
}
.Noone{
    margin-top:11px;
    width: 80px;
    height:60px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 30px;
}
.time{
    width: 80px;
    height:40px;
    border: 1px solid gray;
    /* display: flex; */
    cursor: pointer;
    border-radius:20px;
}
.other{
    border: 1px solid gray;
    cursor: pointer;
    width:65px;
    height:80px;
    border-radius: 32px;
}
.other:active,.time:active{
    background-color: #5F6FFF;
    border:none;
}
.book-appoint-btn{
    height: 44px;
    font-size: 14px;
    border-radius: 28px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #5F6FFF;
}
